@import './__variables.scss';


/* using "a.class" prevents default anchor color */
a.leaflet-control-fullscreen {
  color: #333;
  cursor: pointer;
  display: block;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 22px;
  height: $leaflet-control-size;
  line-height: $leaflet-control-size;
  padding: 0;
  text-align: center;
  width: $leaflet-control-size;

  &:hover {
    background-color: $leaflet-control-background-hover;
  }
}

.leaflet-container.leaflet-map-fullscreen {
  bottom: 0;
  height: auto;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  width: auto;
  z-index: 999;
}
