@import './__variables.scss';

/* style overrides for the built in leaflet Layers control. */
.leaflet-control-layers {
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0;
  position: relative;
}

.leaflet-control-layers-list {
  order: 2;
}
.leaflet-control-layers a.leaflet-control-layers-toggle,
.leaflet-control-layers-toggle {
  height: $leaflet-control-size;
  width: $leaflet-control-size;
  background-size: 22px;
}

.leaflet-control-layers.leaflet-control-layers-expanded {
  box-shadow: 0 1px 1px #333;
  padding: 4px 6px;
}

.leaflet-control-layers-selector + label {
  margin-bottom: 1em;

  &:before {
    position: relative;
    top: 2px;
  }
}

.leaflet-control-layers-selector[type='radio'] + label:before {
  width: 1em;
  height: 1em;
}
