@import './__variables.scss';

/* style overrides for the built in leaflet Layers control. */
.leaflet-control-layers {
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0;
  position: relative;

  &.leaflet-control-layers-expanded {
    max-height: 45%;
    padding: 6px;
  }
}

.leaflet-control-layers-toggle {
  background-size: 70%;
}

.leaflet-control-layers-list {
  order: 2;
  overflow-y: scroll;
}

.leaflet-control-layers-selector + label {
  margin-bottom: 1em;

  &:before {
    position: relative;
    top: 2px;
  }
}
.leaflet-control-layers-selector[type='radio'] + label:before {
  width: 1em;
  height: 1em;
}
