@import './__variables.scss';

/* style overrides for the built in leaflet Layers control. */
.leaflet-control-layers {
  left: 0;
  padding: 0;
  position: relative;
}

.leaflet-control-layers-toggle {
  height: $leaflet-control-size;
  width: $leaflet-control-size;
}

.leaflet-control-layers-expanded {
  padding: 4px 6px;
}

.leaflet-control-layers-selector + label {
  margin-bottom: 1em;

  &:before {
    position: relative;
    top: 2px;
  }
}

.leaflet-control-layers-selector[type='radio'] + label:before {
  width: 1em;
  height: 1em;
}
