.leaflet-control-legend {
  padding: 0;
}

.leaflet-control-legend .leaflet-control-legend-toggle {
  color: #666;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  width: 35px;
}

.leaflet-control-legend-expanded {
  padding: 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-legend-expanded .leaflet-control-legend-toggle,
.leaflet-control-legend-list,
.leaflet-control-legend-close  {
  display: none;
}

.leaflet-control-legend-expanded .leaflet-control-legend-list {
  display: block;
  list-style: none;
  max-width: 100%;
  position: relative;
}

.leaflet-control-legend-list > li > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.leaflet-control-legend-expanded .leaflet-control-legend-close {
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  color: #666;
  display: block;
  margin: 0;
  padding: 0.5em;
  position: absolute;
  right: -6px;
  top: -6px;

  &:hover {
    color: #333;
  }

  & .material-icons {
    font-size: 16px;
  }

}