.leaflet-control-legend {
  padding: 0;
}

.leaflet-control-legend .leaflet-control-legend-toggle {
  color: #666;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  width: 30px;
}

.leaflet-control-legend-expanded {
  padding: 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-legend-expanded .leaflet-control-legend-toggle,
.leaflet-control-legend-list,
.leaflet-control-legend-close  {
  display: none;
}

.leaflet-control-legend-expanded .leaflet-control-legend-list {
  display: block;
  list-style: none;
  max-width: 100%;
  position: relative;
}

.leaflet-control-legend-list > li {
  margin: 0.5em 0;

  > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.leaflet-control-legend-expanded .leaflet-control-legend-close {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  order: 1;
  width: 100%;

  &:hover {
    color: #333;
  }

  & .material-icons {
    font-size: 16px;
  }

}

.leaflet-top.leaflet-right {
  height: 100%;
}

.leaflet-control-legend.leaflet-control-legend-expanded {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.leaflet-control-legend-expanded .leaflet-control-legend-list {
  overflow: scroll;
  margin: 0.5em 0;
  order: 2;
}
