.leaflet-control-background,
.leaflet-control-scale { /* This is baked into Leaflet core. */
  border-radius: 7px;
  font-size: 10px;
  padding: 4px 6px;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.leaflet-control-scale {
  float: left;
}

.leaflet-control-scale-line {
  font-size: 8px;
}

.leaflet-control-scale-line {
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #777;
  border-top: none;
  box-sizing: content-box;
  font-size: 11px;
  line-height: 1.1;
  overflow: hidden;
  padding: 2px 5px 1px;
  white-space: nowrap;

  -moz-box-sizing: content-box;
}

.leaflet-control-scale-line:nth-child(2) {
  border-bottom: 0px;
  border-top: 2px solid #777;
  margin-top: -2px;
  padding-top: 1px;
}

.leaflet-control-scale.leaflet-control {
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: bottom;
}
